@using Innlogging.Models;
@namespace Innlogging.Views.Account

@model RegistreringViewModel

@{
    ViewData["Title"] = "Register";
}


<body class="Registrering-side">

<form method="post" asp-action="RegisterUser">

    <p></p>
    <div class="col-md-20 text-center">
            <h3 class="font-weight-normal">Registrer ny Nøsted Konto.</h3>
       
    </div>
    <p></p>
    <p></p>
    <p></p>

    <div class="form-group">
        <label for="employeeNumber">Ansattnummer</label>
        <input type="text" class="form-control" asp-for="EmployeeNumber" required>
    </div>
    <p></p>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" asp-for="Email" required>
    </div>
    <p></p>
    <div class="form-group">
        <label for="password">Passord</label>
        <input type="password" class="form-control" asp-for="Password" required>
    </div>
    <p></p>
    <div class="form-group">
        <label for="confirmPassword">Bekreft passord</label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" required>
    </div>
    <p></p>
    <div class="form-group">
        <label for="role">Rolle</label>
        <select class="form-control" id="role" name="Role" required>
            <option value="Service">Service</option>
            <option value="Mechanic">Mekaniker</option>
            <option value="Administrator">Administrator</option>
        </select>
    </div>
    <p></p>
    <P></P>
    <button type="submit" class="btn btn-primary">Registrer</button>
</form>

</body>