@model Noested.Models.Checklist

@{
    ViewData["Title"] = "Create";
}

<h1>Opprett sjekkliste</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceProcedure" class="control-label"></label>
                <input asp-for="ServiceProcedure" class="form-control" />
                <span asp-validation-for="ServiceProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparedBy" class="control-label"></label>
                <input asp-for="PreparedBy" class="form-control" />
                <span asp-validation-for="PreparedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechBrakes" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechBrakes" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechBrakes" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechBrakes" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechBrakes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechDrumBearing" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechDrumBearing" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechDrumBearing" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechDrumBearing" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechDrumBearing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechStoragePTO" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechStoragePTO" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechStoragePTO" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechStoragePTO" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechStoragePTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechWire" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechWire" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechWire" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechWire" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechWire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechChainTensioner" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechChainTensioner" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechChainTensioner" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechChainTensioner" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechChainTensioner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechChainTensioner" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechChainTensioner" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechChainTensioner" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechChainTensioner" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechChainTensioner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechClutch" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechClutch" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechClutch" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechClutch" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechClutch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechSprocketWedges" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="MechSprocketWedges" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="MechSprocketWedges" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="MechSprocketWedges" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="MechSprocketWedges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydCylinder" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="HydCylinder" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="HydCylinder" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="HydCylinder" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="HydCylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydHydraulicBlock" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="HydHydraulicBlock" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="HydHydraulicBlock" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="HydHydraulicBlock" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="HydHydraulicBlock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydTankOil" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="HydTankOil" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="HydTankOil" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="HydTankOil" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="HydTankOil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HydGearboxOil" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="HydGearboxOil" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="HydGearboxOil" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="HydGearboxOil" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="HydGearboxOil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElCableNetwork" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="ElCableNetwork" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="ElCableNetwork" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="ElCableNetwork" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="ElCableNetwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElRadio" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="ElRadio" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="ElRadio" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="ElRadio" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="ElRadio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElButtonBox" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="ElButtonBox" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="ElButtonBox" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="ElButtonBox" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="ElButtonBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TensionCheckBar" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="TensionCheckBar" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="TensionCheckBar" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="TensionCheckBar" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="TensionCheckBar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestWinch" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="TestWinch" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="TestWinch" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="TestWinch" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="TestWinch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestTraction" class="control-label"></label>
                <div>
                    <input type="radio" id="ok" name="TestTraction" value="OK" />
                    <label for="ok">OK</label>

                    <input type="radio" id="needsReplacement" name="TestTraction" value="NeedsReplacement" />
                    <label for="needsReplacement">Bør skiftes</label>

                    <input type="radio" id="defective" name="TestTraction" value="Defective" />
                    <label for="defective">Defekt</label>
                </div>
                <span asp-validation-for="TestTraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairComment" class="control-label"></label>
                <input asp-for="RepairComment" class="form-control" />
                <span asp-validation-for="RepairComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechSignature" class="control-label"></label>
                <input asp-for="MechSignature" class="form-control" />
                <span asp-validation-for="MechSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opprett" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbake til oversikten</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
