@model Noested.Models.ServiceOrderModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServiceOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceOrderID" />
            <div class="form-group">
                <label asp-for="OrderRecieved" class="control-label"></label>
                <input asp-for="OrderRecieved" class="form-control" />
                <span asp-validation-for="OrderRecieved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderCompleted" class="control-label"></label>
                <input asp-for="OrderCompleted" class="form-control" />
                <span asp-validation-for="OrderCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <select asp-for="Warranty" class="form-control"></select>
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairDescription" class="control-label"></label>
                <input asp-for="RepairDescription" class="form-control" />
                <span asp-validation-for="RepairDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkHours" class="control-label"></label>
                <input asp-for="WorkHours" class="form-control" />
                <span asp-validation-for="WorkHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerID" class="control-label"></label>
                <select asp-for="Customer.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="Customer.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
