﻿@{
    ViewData["Title"] = "Home Page";
}

@model Noested.Models.RazorViewModel
<h2>
    Velkommen til landingssiden! Det er ikke blitt gjort noen design enda, kommer snart...
</h2>
@{

    <h1>@Model.Content</h1>
    <h2>@Model.AdditionalData</h2>
}